.hero .title {
    line-height: 1.2em;
}

.hero .description {
    font-size: 22px;
    color: #ababab;
}

.hero .hero-btn {
    border-radius: 4px;
}

.hero .hero-btn:hover {
    background: #005384;
}